<div class="flex flex-col max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8 text-gray-400 items-center">
    <%= render "row.html", assigns %>
    <%= render "row.html", assigns %>
    <%= render "row.html", assigns %>
    <%= render "row.html", assigns %>
    <%= render "row.html", assigns %>
    <%= render "row.html", assigns %>
  </div>