<section class="bg-gray-700 w-screen h-screen">
  <div
    class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8 text-gray-400"
  >
    <kbd class="px-5 py-4 border border-slate-400">A</kbd>
    <kbd class="px-5 py-4 border border-slate-400 bg-yellow-300 gray-700"
      >B</kbd
    >
  </div>
</section>
