<div class="inline-block m-5">
    <%= render "square.html", assigns %>
    <%= render "square.html", assigns %>
    <%= render "square.html", assigns %>
    <%= render "square.html", assigns %>
    <%= render "square.html", assigns %>
</div>